@use '../../styles/mixins';

.header {
  @include mixins.centered;
  display: flex;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 0 0 #000;
  background-color: rgba(255,255,255,0);
  transition: background-color .3s linear,box-shadow .3s linear;
  padding: 10px;

  a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 16px;
  }

  a > span {
    color: var(--color);
    margin-left: 10px;
  }

  &__logo {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding: 0;
    font-size: 4vh;
    margin: 0 0 0 20px;
  }
}
