@use 'mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: background-color var(--speed) var(--easing);
  background-color: var(--bg);
  color: var(--color)
}

:root {
	--slide-ease: cubic-bezier(.4,-0.3,.6,1.3);
	--easing: var(--slide-ease);
	--speed: 0.5s;
	--width: clamp(160px, 15vmin, 400px);
	--ar: 8 / 3;
	--ray: hsl(0 0% 100% / 0.5);
	--sun: hsl(47, 91%, 58%);
	--moon: hsl(212, 13%, 82%);
	--crater: hsl(221, 16%, 68%);
	--bg: hsl(219, 30%, 88%);
	--bear-speed: 10s;
	--color: hsl(219 30% 20%);
}

[data-dark-mode=true] {
	--bg: hsl(219, 30%, 12%);
	--color: hsl(219 30% 98%);
}

[type=checkbox] {
	accent-color: var(--color);
	transition: accent-color var(--speed) var(--easing);
}

[aria-pressed=true] {
	--dark: 1;
}

.app {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.product-list {
  @include mixins.centered;
}


.background-image {
  position: absolute;
  opacity: 0.04;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none;
}


.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center;

  h3 {
    font-size: 20px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    font-size: 100px;
    @include mixins.mobile {
      font-size: 50px;
    }
    margin: 0;
    color: mixins.$color-purple;
  }
}

html:not([data-scroll="0"]) header {
  box-shadow: 0 1px 20px 0 #0000002e;
  background-color: var(--bg);
  position: fixed;
}


.product__price-button-container {
  display: flex;
  grid-area: button;
}


